body {
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
    /* overflow: hidden; */
}

h1 {
    margin: 0px;
    padding-top: 10px;
}

header {
    height: 60px;
    background-color: lightsteelblue;
    color: white;
}

summary {
    height: 60px;
    margin: auto 0px;
}

#typeContainer {
    border-top: gray solid 1px;
    /* border-bottom: gray solid 1px; */
}

#typeContainer > * {
    width: calc(50vw - 12px);
    display: inline-block;
} 

#selected {
    border-bottom: red solid 3px;
}

footer {
    position: fixed;
    width: 100vw;
    padding: 4px 0px;
    bottom: 0px;
    background-color: lightsteelblue;
}

.itemsNav > * {
    height: 25px;
}

section {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f6f7f8;
}

.blue {
    color: #0098ab;
}

.item {
    background-color: white;
    text-align: left;
    padding: 15px;
    width: calc(100vw - 50px);
    max-width: 450px;
    height: 180px;
    overflow: hidden;
    margin: 5px auto;
    display: inline-block;
}

.item p {
    margin: 9px 0px;
}

.item > *:first-child {
    margin-top: 0px;
}

.gray {
    color: #2e3e48;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

::-webkit-scrollbar { 
    display: none; 
}

.location {
    display: inline-block;
    max-width: 320px;
    margin-left: 10px !important;
}

.locationImg {
    display: inline-block;
    height: 30px;
}