body {
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
    /* overflow: hidden; */
}

.steelBlue, header, footer {
    background-color: #4682b4;
    color: white;
}

#typeContainer p {
    margin: 10px 0px !important;
}

summary {
    padding: 10px;
    /* background-color: #4682b491; */
    /* color: white; */
}

summary p {
    margin: 0px;
}

.date {
    font-size: 0.9em;
}

h1 {
    margin: 0px;
    font-size: 1.6em;
}

header {
    padding: 10px;
}

header p {
    margin: 0px;
    font-size: 0.6em;
    margin-top: 3px;
    text-align: right;
    margin-right: 15px;
}

h3 {
    margin: 10px 0px;
    max-height: 45px;
    overflow-y: hidden;
}

#typeContainer {
    border-top: gray solid 1px;
    /* border-bottom: gray solid 1px; */
    position: sticky;
    top: 0;
    background-color: white;
}

#typeContainer > * {
    width: calc(50vw - 12px);
    display: inline-block;
} 

#selected {
    border-bottom: red solid 3px;
}

footer {
    position: fixed;
    width: calc(100vw - 8px);
    padding: 4px;
    bottom: 0px;
    justify-content: space-between;
}

footer p {
    display: inline-block;
    margin: 2px;
    font-size: 0.8em;
}

.itemsNav > * {
    height: 25px;
}

section {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f6f7f8;
    padding-top: 5px;
}

.blue {
    color: #0098ab;
}

.eventName {
    max-height: 18px;
    overflow-y: hidden;
}

.item {
    background-color: white;
    text-align: left;
    padding: 15px;
    width: calc(100vw - 50px);
    max-width: 450px;
    height: 150px;
    overflow: hidden;
    margin: 5px;
    display: inline-block;
}

.item p {
    margin: 9px 0px;
}

.item > *:first-child {
    margin-top: 0px;
}

.gray {
    color: #2e3e48;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

::-webkit-scrollbar { 
    display: none; 
}

.locationDiv {
    display: table;
}

.locationImg, .location {
    display: table-cell;
    vertical-align: middle;
}

.location {
    max-height: 38px;
    display: inline-block;
    max-width: 320px;
    margin-left: 10px !important;
    overflow-y: hidden;
}

.locationImg {
    display: inline-block;
    height: 30px;
}


.group {
    width: calc(100vw - 10px);
    max-width: 380px;
    height: 120px;
    margin: 8px 0px;
    text-align: left;
    overflow: hidden;
    background-color: white;
    display: inline-block;
    margin: 5px;
}

.groupImg {
    display: inline-block;
    vertical-align: top;
}

.group img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    padding-bottom: 0px;
}

.groupText {
    padding: 0px 10px;
    display: inline-block;
    width: 50%;
}

.groupText p {
    margin: 10px;
    margin-left: 0px;
}

.groupName {
    font-size: 1.1em;
}

#toTop {
    position: fixed;
    right: 0;
    top: 250px;
    background-color: #4682b414;
    color: white;
    padding-bottom: 13px;
    padding: 15px;
    /* filter: opacity(0.15); */
}

summary * {
    display: inline-block;
}

input {
    background-color: white;
    border: 2px solid gray;
    font-size: 0.9em;
    /* margin: 4px 2px; */
    padding: 5px;
}

#eventsSorts, #eventsFilters, #groupsSorts, #groupFilters {
    filter: opacity(0.3);
}

.searchDiv {
    padding: 5px;
    position: sticky;
    top: 42px;
    background-color: white;
}

.search {
    width: 140px;
}

input[type="button"] {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

header a {
    text-decoration: underline;
}

@media only screen and (max-width: 420px) {
    .location {
        width: calc(100vw - 100px) !important;
    }
}